<div class="col-xs-12">
    <h2>Mes appareils</h2>

    <p>Mis a jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
    <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
        [indexOfAppareil] = "i" 
        [appareilName]="appareil.name" 
        [appareilStatus]="appareil.status"
        [appareilId]="appareil.id"
        ></app-appareil>
        <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button> <!-- [disabled]="!isAuth" DISABLED the button when isAuth = false -->
        <button class="btn btn-danger" (click)="onEteindre()">Tout etendre</button>
        <button class="btn btn-success" (click)="onSave()">Enregistrer</button>
        <button class="btn btn-primary" (click)="onFetch()">Charger</button>
    </ul>
  </div>
